<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing.css') }}"
    />

    <title>Plate4U | Checkout</title>
  </head>

  <body>
    <section id="checkout">
      <a href="/">
        <div class="logo-container">
          <div class="logo">
            <h1>Plate4U</h1>
          </div>
        </div>
      </a>
      <div class="message_container">
        <h1>Thank you for dining with us</h1>
        <div class="landing">
          <div class="message">
            <!-- <h3>Your Culinary Journey Begins Here!</h3> -->
            <p>We hope to see you soon.</p>
          </div>
        </div>
        <div class="button-container">
          <a href="/menu" class="button">Return to Menu</a>
        </div>
      </div>
    </section>
  </body>
</html>
