<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plate4U | Digital Menu</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/contact.css') }}"
    />
    <link
    rel="stylesheet"
    href="../static/css/contact.css"
  />

    <title>Plate4U | Digital Menu</title>
  </head>

  <body>
    <section id="contact">
      <a href="/">
      <div class="logo-container">
        <div class="logo">
          <h1>Plate4U</h1>
        </div>
      </div>
      </a>
    </section>  

    <section id="showcase">
      <div class="container grid">
        <div class="showcase-text">
          <h1>
            Let us build your digital menu!
          </h1>
          <p>
            Upgrade your restaurant experience with our digital menu service, 
            optimizing table turnover and providing tailored recommendations to boost sales.
          </p>
          <a href="/index" class="btn btn-outline">
            Check out our Demo
          </a>
        </div>
        <div class="showcase-form cards">
          <h2>Request a Demo</h2>
          <form>
            <div class="form-controls">
              <input type="text" name="restaurant" placeholder="Restaurant Name" required />
            </div>
            <div class="form-controls">
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="form-controls">
              <input type="text" name="phone" placeholder="Phone" required />
            </div>
            <a href="mailto:schedule4plates.com?subject=Subject%20of%20the%20email&body=Body%20of%20the%20email">
              <input type="submit" value="Send" class="btn btn-primary" />
            </a>
            
        </div>
      </div>
      
    </section>

    <section class="team">
      
      <div class="container">
        <h1 class="team-heading">Our Team</h1>
        <div class="grid grid-5 text-center my-5">
          <div class="team-member cards">
            <img src="../static/images/manas.png" alt="team member" />
            <h2>Manas Nambiar</h2>
            <p>Operations Manager</p>
          </div>
          <div class="team-member cards">
            <img src="../static/images/prinz.png" alt="team member" />
            <h2>Prince Egbujor</h2>
            <p>Frontend Engineer</p>
          </div>
          <div class="team-member cards">
            <img src="../static/images/abhi.jpg" alt="team member" />
            <h2>Abhi Erra</h2>
            <p>Data Scientist</p>
          </div>
          <div class="team-member cards">
            <img src="../static/images/obtin.jpg" alt="team member" />
            <h2>Obtin Zandian</h2>
            <p>Data Engineer</p>
          </div>
          <div class="team-member cards">
            <img src="../static/images/yepeng.png" alt="team member" />
            <h2>Yepeng Li</h2>
            <p>ML Engineer</p>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
